.bimage {
    background-image: url('./../img/cherry.jpg');
    background-size: cover;
    height: 1000px;
        
}

.bimage1 {
    background-image: url('./../img/kamikochi.jpg');
    background-size: cover;
    height: 1000px;
        
}

.bimage2 {
    background-image: url('./../img/kamikochi2.jpg');
    background-size: cover;
    height: 1000px;
        
}